.banner{
    width:100%;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    text-align: center;
    background-color: #007bff;
}
/* .body-content{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 10px;
   padding-top: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
} */

/* .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.input-ip{
    height: 25px;
    padding: 5px;
    transition: 0.3s;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}
.input-ip:focus{
    outline: none;
    background-color: #cdd9e993;
    border: none;
   border-block-end: 2px solid #007bff;
}
.ip-btn{
    transition: 0.3s;
 background-color: transparent;
border: none;
font-size: 30px;
color: black;
font-weight: bold;
margin-right: 15px;
}
.ip-btn:hover{
    cursor: pointer;
transform: scale(1.1);

}
.ip-btn:active{
    transform: scale(0.9);
}
.field-dns{
    flex-direction: row;
    align-items: center;
    width: 80%;

}
@media screen and (max-width: 600px) {
    .field-dns {
        flex-direction: column;
        width: 100%;
        max-width: 500px;
    }
    .ip-btn {
        width: 100px;
    }
    .c {
        font-size: 10px;
    }
    .search-btn {
        width: 150px;
        height: 50px;
        text-align: center;
    }
    .e h1 {
        font-size: larger;
    }
    .f {
        padding: 50px;
    }
    .b {
        width: 100%;
        max-width: 300px;
    }
    .box-coll {
   
        padding: 15px 10px;
        margin: 10px;

    }
    
    .select-domain {
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    .img h2{
        font-size: large;
    }
    .ip-btn{
        font-size: small;
    }
  
}

.search-btn{
    width: 100%;  
    height: 40px;
    text-align: center;
    background-color: #FE791A;
    color: white;
    transition: 0.4s;
}
.a{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.b{
    border-top: 5px solid blue;
    width: 100%;
    display: flex;
    padding: 20px;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.c{
    border-bottom: 1px solid black;
    font-size: larger;
}
.c img{
    width: 20px;
    align-content: center;
}
.search-btn:active{
    transform: scale(0.9);

}
.map-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: large;
    color: red;
    font-weight: bold;
    transition: 0.3s;
}
.map-btn:hover{
    border-bottom: 1px solid black;

}

.g{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;

}

.box-coll{
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    max-width: 900px;
    height: 100%;
    justify-content: center;
    background-color: #007bffe1;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
.domain-input {
width: 95%;
padding: 10px;
outline: none;
border: none;
border-block: 2px solid #ccc;
transition: border-block 0.3s ease-in-out;
border-radius: 5px;

}
.domain-input:focus{
  border-block :2px solid black;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.651);    
}

.select-domain{
    width: 100%;
    padding: 10px;
    border-radius:5px ;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    transition: border ,  0.3s ease-in-out;
}
.select-domain:focus{
    border: 1px solid black;

}
.img img{
   
width: 200px; 
justify-self: center;
margin-bottom: 5px;   
}
.domain-input, .select-domain{
    margin: 10px 0;
}


.img{
    display: flex;
    flex-direction: column;
    gap: 5px;

justify-content: flex-start;
}
.img p{
    text-overflow: clip;
    text-wrap: pretty;

}
.container{
    width: 99%;
    
}
.title-2{
    padding-bottom: 5px;
    width: 100%;
}
.z{
    padding: 10px;
}
.head-ip-text{
    padding-bottom: 10px;
    width: 100%;
}
.head-ip-q1{
    padding-bottom: 10px;

}