/* .leaflet-container {
  border-radius: 8px;
  margin-top: 20px;
  width: 800px;
  height: 400px;
} */
.map-con{
  width: 100%;
  height: 480px;
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 0;
}
